.App {
    padding: 50px 25px;
}

.data-table-container {
    max-width: 1000px;
    margin: 25px auto;
}

.data-table {
    /*min-width: 650px;*/
}

.settings-button-group {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.active-text {
    color: #0056ff;
    text-decoration: underline;
    cursor: pointer;
}

.ellipsis-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 60px;
    white-space: nowrap;
    display: block;
}

.units-diff {
    display: block;
    max-width: 40px;
    padding: 1px 10px;
    color: white;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 5px;
}

.units-diff.decrease {
    background-color: #0d8010;
}

.units-diff.increase {
    background-color: #ad2a3a;
}

.animation-blink {
    animation: blinker 2s linear 2;
}

@keyframes blinker {
    50% {
        opacity: 0.4;
    }
}